

h1{
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.task-list{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: 100px 80px 1fr 2fr 200px;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.list-header{
    background-color: #e8e8e8;
    padding: 15px;
    font-weight: bold;
    border: 1px solid #d3d3d3;
}

.list-item{
    background-color: white;
    padding: 15px;
    border: 1px solid #ddd;
    color: #444;
    word-wrap: break-word;
}

.delete-item{
    width: 50%;
    padding: 6px;
    background-color: #ed2e41;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.delete-item:hover{
    background-color: #ec394b;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgb(231, 55, 73);
}
.update-item{
    width: 50%;
    padding: 6px;
    background-color: rgb(40, 163, 40);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.update-item:hover{
    background-color: rgb(60, 217, 60);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(82, 219, 80, 0.502);
}